.containerBloc{
	height: 100%;
}
.character{
	position: absolute;
	top: 0;
	left: 0;
	
	width: 50px;
	height: 35px;
	background: rgba(30,30,30,0.8);
	color: white;
	font-family: 'Segoe UI';
	font-size: 12px;

	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;

	text-align: center;
	padding-top: 15px;
}
.myCharacter{
	background: rgba(150,30,30,0.8);
}
.identity{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 100px;
	height: 150px;
	background: #fff;
}
.panel{
	position: relative;
	border-top: 1px solid black;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
}
.pseudo{
	position: absolute;
	top: 20px;
	left: 20px;

}
.tourDe{
	position: absolute;
	top: 20px;
	right: 20px;


}
.actions{
	margin: 20px auto;
	width: 300px;
	height: 100px;


}
.actions .action{
	display: inline-block;
	vertical-align: top;
	width: 70px;
	height: 100px;
}
/*************/
/** TUILES ***/
/*************/
.gameboard
{
	position: relative;
    width: 875px;
    height: 875px;
    margin: auto;
}
.gameboard .tuile{
	position: absolute;
	top: 0;
	left: 0;
}
.gameboard .tuile img
{
    width: 175px;
    height: 175px;
}
.gameboard .tuile img
{
    float: left;
}