@font-face
{
    font-family: "Segoe UI";
    src: url("Font/Segoe UI.ttf");
}

#global{
    height: 100%;
    margin: auto;
    background: #f2f2f2;
}
header{
    padding: 40px;
}
header h1{
    font-size: 100px;
    letter-spacing: 2px;
    font-weight: normal;
    font-family: "Segoe UI";
    color: #e2e2e2;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(140,140,140,0.8);
}
header p{
    text-align: center;
    color: #aaaaFF;
    font-family: Georgia;
}

ul.personnage{
    display: block;
    text-align: center;
}
.personnage li{
    width: 200px;
    height: 300px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    position: relative;
}
.personnage li span.name{
    display: block;
    font-weight: normal;
    font-family: 'Segoe UI';
    font-size: 24px;
    padding: 5px 0;
}
.personnage li img{
    height: 250px;
    margin: auto;
    display:block;
}
#popin-grayback{
    position: fixed;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
}
#popin{
    margin: 100px auto;
    width: 600px;
    height: auto;
    background: #fff;
    padding: 10px;
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
}
#popin h2{
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 22px;
    padding: 10px 0;
    color: #111;
}
#popin input[type="button"]{
    width: 80px;
    height: 40px;
    padding: 5px;
    background: #f2f2f2;
    border: 1px solid #d2d2d2;
    cursor: pointer;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;

    -webkit-transition: all .5s linear;
       -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
         -o-transition: all .5s linear;
            transition: all .5s linear;

    margin-left: 5px;
    vertical-align: top;
}
#popin input[type="button"]:hover{
    background: #e2e2e2;
}
#popin input[type="text"]{
    padding: 5px;
    height: 30px;
    width: 500px;

    color: #eee;
    font-family: 'Segoe UI';
    font-size: 18px;

    border: none;
    background: #333;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
}
.userID, .readyToPlay{
    opacity: 0;
}
.characterTaken{
    width: 100%;
    height: 100%;
    background: rgba(150,10,10,0.6);
    position: absolute;
    top: 0;
    left: 0;

    box-shadow: 3px 3px 2px rgba(50,10,10,0.6);
    -webkit-box-shadow: 3px 3px 2px rgba(50,10,10,0.6);
    -moz-box-shadow: 3px 3px 2px rgba(50,10,10,0.6);
    -o-box-shadow: 3px 3px 2px rgba(50,10,10,0.6);
    -ms-box-shadow: 3px 3px 2px rgba(50,10,10,0.6);
}
.characterTaken p{
    margin: 100px auto;
    color: white;
    font-family: 'Segoe UI';
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(150,150,150,1);

    word-break:break-all;
}
.btn{
    cursor: pointer;
    display: none;
    margin: 40px auto;
    text-align: center;
    padding: 10px 40px;

    font-family: 'Segoe UI';
    font-size: 20px;
    border: 1px solid #2980b9;
    color: #f2f2f2;
    background: #3498db;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;

    -webkit-transition: all .5s linear;
       -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
         -o-transition: all .5s linear;
            transition: all .5s linear;
}
.btn:hover{
    background: #2980b9;
    border: 1px solid #3498db;
}