<div ng-controller="GameCtrl" id="containerBloc">
	<!-- EN HAUT A GAUCHE IDENTITE -->
	<div class="identity">
		<img src="" alt="identity"/>
	</div>

	<!-- EN PLEIN CENTRE, LE PLATEAU DE JEU -->
	<div class="gameboard">
		<div class="tuile" ng-repeat="tuile in tuiles" style="top: {{tuile.position.y * 175}}px;left:{{tuile.position.x * 175}}px" data-position="{{tuile.position.x}}-{{tuile.position.y}}" data-action="{{tuile.action}}">
			<img id="tuile-{{tuile.id}}" src="{{tuile.image}}" alt="Tuile : {{tuile.name}}" ng-show="tuile.enable"/>
			<img src="Images/tuiles/cache.gif" alt="Tuile : {{tuile.name}}" ng-hide="tuile.enable"/>
		</div>
	</div>

	<!-- PANEL GAUCHE POUR LES CAM ET LE CHAT -->
	<div class="panel leftPanel">
		<div class="toggle"></div>

		<div id="video-border">
			<div class="pubnub-relative">
				<div id="video-self"></div>
			</div>
			<div id="video-display">
				<span class="glyphicon glyphicon-flash"></span>
			</div>
		</div>
		<div id="pubnub-relative">
			<div id="video-thumbnail"></div>
			<div id="pubnub-logo">
				<div id="pubnub-logo-img"></div>
			</div>
		</div>
		<div>
			<input type="button" id="dial" class="btnClass" value="Appeler">
			<input type="button" id="hangup" class="btnClass speBg" value="Raccrocher">
			<input type="hidden" id="snap" class="btn btn-success">
		</div>
		<br/>
		
		<p class="putAToken">Poser un jeton</p>
	</div>

	<!-- PANEL DROIT POUR LES ACTIONS ET LES TOURS DE JEU -->
	<div class="panel">
		<div class="toggle"></div>

		<div class="pseudo">
			<p>Pseudo</p>
		</div>

		<div class="actions">
			<div class="actionContainer" ng-repeat="action in actions">
				<div class="action" data-first-sentence="{{action.phrase1}}" data-second-sentence="{{action.phrase2}}">
					<img src="{{action.image}}" alt="{{action.name}}" title="{{action.name}}"/>
				</div>
			</div>
			<br/>

			<div class="btnOkContainer">
				<input type="button" value="Valider" class="btnOk"/>
			</div>
		</div>

		<div class="action1-final">
			<p>Action n°1 :</p>
		</div>

		<div class="action2-final">
			<p>Action n°2 :</p>
		</div>

		<div class="tourDe">
			<p></p>
		</div>
		<p class="tourRestant">Il reste 10 tours.</p>
	</div>


	<input type="text" name="userID" value="" class="userID"/>
	<input type="text" name="coordsReady" value="" ng-model="coordsReady" class="coordsReady"/>

	<link type="text/css" rel="stylesheet" href="Css/Module/bootstrap.min.css" />
	<script type="text/javascript" src="Js/Module/pubnub.js"></script>
	<script type="text/javascript" src="Js/Module/webrtc.js"></script>
	<script type="text/javascript" src="Js/Module/sound.js"></script>
	<script type="text/javascript" src="Js/Module/rtc.js"></script>
</div>