<div ng-controller="GameCtrl" id="containerBloc">
	<div class="identity">
		<img src="" alt="identity"/>
	</div>

	<div class="gameboard">

		<div class="tuile" ng-repeat="tuile in tuiles" style="top: {{tuile.position.y * 175}}px;left:{{tuile.position.x * 175}}px">
			<img id="tuile-{{tuile.id}}" src="{{tuile.image}}" alt="Tuile : {{tuile.name}}" ng-show="tuile.enable"/>
			<img src="/Images/tuiles/cache.gif" alt="Tuile : {{tuile.name}}" ng-hide="tuile.enable"/>
		</div>
	</div>

	<div class="panel">
		<div class="pseudo">
			<p>pseudo</p>
		</div>

		<div class="actions">
			<div class="action" ng-repeat="action in actions">
				<img src="{{action.image}}" alt="{{action.name}}" title="{{action.name}}"/>
			</div>
			<br/>

			<input type="button" value="Valider" class="btnOk"/>
		</div>

		<div class="tourDe">
			<p>Tour de </p>
		</div>
	</div>

	<input type="text" name="userID" value="" class="userID"/>
	<input type="text" name="coordsReady" value="" ng-model="coordsReady" class="coordsReady"/>
</div>