<div ng-controller="GameCtrl">
	<div class="gameContainer">
		<div class="gameboard">
			<div class="tuile" ng-repeat="tuile in tuiles">
				<img id="{{tuile.id}}" src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
			<div class="tuile">
				<img src="/Images/tuiles/cache.gif" alt="Tuile : vide"/>
			</div>
		</div>
	</div>
</div>