<div ng-controller="CharacterCtrl">
	<div class="hideCharacters">
		<p></p>
	</div>
	
	<header id="header">
		<h1>Room 25</h1>
    </header>
	<ul class="personnage">
		<!--<li ng-repeat="character in characters | filter:{player: -1}" ng-click="registerCharacter(character.name)">-->
		<li ng-repeat="character in characters" data-color="{{character.color}}">
			<span class="name">{{character.name}}</span>
			<img src="{{character.image}}" alt="Personnage {{character.name}}"/>
		</li>
	</ul>

	<input type="text" name="userID" value="" id="userID" class="userID"/>
	<input type="text" name="readyToPlay" value="" ng-model="readyToPlay" class="readyToPlay"/>

	<input type="button" value="Jouer" class="btn" />

	<div id="popin-grayback">
		<div id="popin" class="yourName">
			<h2>Bienvenue !<br/>Afin de choisir un personnage, veuillez choisir un pseudo.</h2>
			<br/>
			<input type="text" placeholder="Votre pseudo" id="newName" autofocus="true"/>
			<input type="button" value="Valider" id="getMyName"/>
		</div>
	</div>
</div>