/* BASIC RESET */
footer,header,nav,section,article{ display: block;}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;}
:link,:visited { text-decoration:none }
:focus,:active { outline: 0 }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code{ font-size:1em; }
a img,:link img,:visited img { border:none }
address { font-style:normal }
a{
    text-decoration: none;
}
fieldset{
    padding: 20px 5px 5px 5px;
    margin: 5px;
}
legend{
    color: #7F554E;
    font-family: georgia;
}
input::-webkit-input-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #bbb;
}
input:-moz-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #bbb;
}
textarea::-webkit-input-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #bbb;
}
textarea:-moz-placeholder {
    font-size: 14px;
    font-style: italic;
    color: #bbb;
}
html, body { width: 100%; height: 100%;}
